<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Manjari&amp;display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Hack Club Ships</title>
  <meta name="author" content="Alishaan Ali">
  <meta name="description" content="Displays the latest ship from the Hack Club slack!">
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
  </head>
  <body>
      <h1>Latest Hack Club Ship</h1>
      <div id="root"></div>
      <script src="apicall.js"></script>
  </body>
</html>